* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  margin: 0;
}

.site-logo img {
  width: 30px;
}

.site-logo p {
  display: inline-block;
}

.site-logo {
  float: left;
}

.container {
  width: 1300px;
  margin: auto;
}

header {
  height: 50px;
}

header li {
  display: inline-block;
  margin: 0 5px;
}

header ul {
  float: right;
}

header a {
  color: black;
  text-decoration: none;
}

.social-link {
  background-color: white;
  margin: 0 3px;
  height: 30px;
  width: 30px;
  padding-top: 6px;
  border-radius: 50%;
  display: inline-block;
}

.social-link img {
  height: 16px;
}

.sub-header-cta {
  font-weight: bold;
  background-color: #00B4D9;
  padding: 5px 15px;
  color: white;
  text-decoration: none;
  font-size: .5em;
  margin-top: 20px;
  display: inline-block;
  border-radius: 3px;
}


.sub-header {
  text-align: center;
  background-image: linear-gradient(rgba(255,0,0,0.3),rgba(0,255,0,0.3)), url("images/background.jpg");
  background-size: cover;
  background-position: center;
  color: white;
  padding: 50px 0;
}

.font-alt {
  font-family: "Indie Flower", sans-serif;
}



.collumn {
  width: 50%;
  float: left;
}

.profile-picture {
  border: 4px solid white;
  box-shadow: 0 0 10px grey;
  height: 700px;
  overflow: hidden;
}
.profile-picture img {
  min-width: 100%;
  min-height: 100%;
  transform: translateX(-50%) translateY(-50%);
  position: relative;
  top: 50%;
  left: 50%;
}


.presentation-content {
  padding: 50px 10px;
  overflow: hidden;
}

.collumn1 {
  padding-right: 30px;
}

.collumn2 {
  padding-left: 30px;
}

.presentation-details p {
  display: inline-block;
}
.presentation-details {
  padding: 0;
}
.presentation-details li {
  list-style-type: none;
}
.description-title {
  width: 20%;
}
.description-separator{
  width: 10%;
}
.description-value {
  width: 30%;
}
.presentation-details p {
  margin: 5px 0;
}
.description-cta a {
  font-weight: bold;
  background-color: #00B4D9;
  padding: 5px 15px;
  color: white;
  text-decoration: none;
  font-size: .5em;
  margin-top: 20px;
  display: inline-block;
  border-radius: 3px;
}
.description-cta img {
  height: 1em;
  margin-right: 10px;
}
.description-cta .contact-link {
  background-color: #DC3546;
}
.small-collumn {
  width: 25%;
  float: left;
}
.grey-section {
  padding: 50px 0;
  text-align: center;
  background-color: #F0F0F0;
  overflow: hidden;
}
.card-collumn {
  background-color: white;
  border-radius: 3px;
  padding: 20px;
  margin: 10px;
  box-shadow: 0 0 10px grey;
}
.card-collumn img {
  width: 20%;
}
